<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<jee:jndi-lookup id="ds-nexadmin"    jndi-name="${jdbc.nexadmin.datasource}"/>
	<jee:jndi-lookup id="ds-nexcore"     jndi-name="${jdbc.nexcore.datasource}"/>
	<jee:jndi-lookup id="ds-nexcore-ext" jndi-name="${jdbc.nexcore.ext.datasource}"/>
	<jee:jndi-lookup id="ds-info-bi"     jndi-name="${jdbc.info.bi.datasource}"/>
	
	<bean id="tm-nexadmin" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds-nexadmin"/>
	</bean>

	<bean id="tm-nexcore" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds-nexcore"/>
	</bean>

	<bean id="tm-nexcore-ext" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds-nexcore-ext"/>
	</bean>
	
	<bean id="tm-info-bi" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds-info-bi"/>
	</bean>

	<tx:annotation-driven transaction-manager="tm-nexadmin"/>
	<tx:annotation-driven transaction-manager="tm-nexcore"/>
	<tx:annotation-driven transaction-manager="tm-nexcore-ext"/>
	<tx:annotation-driven transaction-manager="tm-info-bi"/>

</beans>